[{boss, [
    {path, "../ChicagoBoss-0.8.0"},
    {applications, [headliners_app]},
    {db_host, "arch"},
    {db_port, 3306},
    {db_username, "root"},
    {db_password, "Jukey50"},
    {db_database, "testgreetings"},
    {db_shard_id, myshard},
    {db_adapter, mysql},
    {log_dir, "log"},
    {server, mochiweb},
    {port, 8001},
    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
]},
{ headliners_app, [
    {path, "../headliners_app"},
    {base_url, "/"}
]}
].
