<html>
<body>
<p><b>USER ACCOUNTS:</b></p>
Users can create accounts and save favorite tweets. User accounts can be grouped by company. Business Intelligence is offered to companies. It should be especially useful sales, marketing, customer service and market research.
<p></p>
<p></p>
<p><b>BUSINESS INTELLIGENCE:</b></p> 
The first version of the Headliners app offers the following BI-related features:
<p></p> 
<p>(1) Two proprietary algorithms that analyze and categorize Twitter users by their influence and importance. </p>
<p>(2) The ability for Headliners app users to create accounts in which to save and view personal favorites.</p> 
<p>(3) Headliners app users who work for the same company can view company-wide statistics favorites. </p>
<p>(4) All Headliners app users can view site-wide statistics. In the future, if the app was ever commercialized, we would improve the existing BI and test and add new features.</p>
<p></p>
<p></p>
<p><b>DATA SOURCES:</b></p> 
Current data sources are Twitter and Google. Twitter data sets are retrieved in JSON format and Google data sets are received in ATOM format. Once the data sets are received, they are extracted, transformed, and loaded into our data warehouse. The larger the warehouse becomes, the more valuable it becomes (potentially), because it facilitates the access of historical data that is otherwise inaccessible. In the future, if the app was ever commercialized, we would add additional data sources.
</body>
</html>
